<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl" data-ng-init="init()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#.navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GitMergeManager <i class="fa fa-github"></i></a>
          </div>
          <div class="navbar-collapse collapse" id="#.navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
            	                
                @navbarElements.repositories()
                
                @navbarElements.mergeManager()
                                                
                @navbarElements.results()
                
                @navbarElements.notifications()
                
                  
            </ul>
           
       
       	@navbarElements.logout()
       
        @navbarElements.search() 
        <div ng-if="searching" class="navbar-brand navbar-right" id="spinner">
        	<i class="fa fa-spin fa-spinner"></i>
        </div> 
     	
        </div>                     
    </div>
</div>