<ul ng-if="$root.owner != null" class="nav navbar-nav">
     <li ng-class="isCurrentTab('MergeManager') ? 'active': ''" ng-click="setTab('MergeManager')"><a ng-href="#/{{ $root.owner }}/{{ $root.repository }}/PullRequests">MergeManager</a></li>
</ul> 
