<li ng-if="$root.repository != null" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
Notifications
<span class="badge">{{ notifications.length }}</span>
<b class="caret"></b>
</a>


<ul class="dropdown-menu" id="notif_list_node">
<li ng-repeat="notification in notifications">
	<a href >{{ notification.msg }} </a>
</li>
</ul>
</li>
