<li ng-class="isCurrentTab('Repository') ? 'active dropdown': 'dropdown'" ng-init="getUserRepositories()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="setRepositoryTab()"> 
                    	<div>
                    	Repository <i>{{$root.repository}}</i>
                    	<b class="caret" ></b>
                    	</div>
                    </a>
                    <ul class="dropdown-menu">
                    	
                    	<li ng-click="setTab('Repository')" ng-repeat="project in Projects">
                    	<!-- {{ project }} -->	
                    	  <a ng-href="#/{{ project.owner }}/{{ project.name }}/Repository" ng-click="choseProject(project)">
                    	  {{ project.name }}
                    	  &nbsp;
                    	  <i>({{ project.owner }})</i>
                    	  &nbsp;
                    	  <i ng-if="project.name == $root.repository && project.owner == $root.owner" class="fa fa-check"></i>
                    	  </a>
                    	</li>
                    	    
                    	<li role="presentation" class="divider"></li>
                    	
                    	<li ng-click="setTab('Repository')">
                    		<a href="#/Repositories">See All</a>
                    	</li>
        </ul>
</li>