<li ng-class="isCurrentTab('Analysis') ? 'active': ''" ng-if="$root.repository != null" class="dropdown" ng-init="getResults()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Analysis
          	<b class="caret" ></b>
          </a>
          
          <ul class="dropdown-menu">
          	<li ng-repeat="analysis in analyses">
          	<!-- {{ project }} -->	
          	  	<a ng-click="setTab('Analysis')" ng-if="analysis.mergeAnalysisExecutions.length > 0" ng-href="#/{{ $root.owner }}/{{ $root.repository }}/Results/{{ analysis.id }}">
	          	  	{{ analysis.name }}
	          	  	<i class="fa fa-check pull-right"></i>	          	  	
          	  	</a>
          	  	
          	  	<a ng-click="setTab('Analysis')" ng-if="analysis.mergeAnalysisExecutions.length == 0" ng-href="#/{{ $root.owner }}/{{ $root.repository }}/Status/{{ analysis.id }}">
	          	  	{{ analysis.name }}
	          	  	<i class="fa fa-spinner fa-spin pull-right"></i>
          	  	</a>
          	</li>
          	
          	<li role="presentation" class="divider"></li>
                    	
               	<li>
               		<a ng-click="setTab('Analysis')" href="#/{{ $root.owner }}/{{ $root.repository }}/Analyses">See All</a>
               	</li>
        </ul>
</li>
