<form class="navbar-form navbar-right">

<input type="text" ng-model="asyncSelected" 
placeholder="Search projects..." 
typeahead="item as item.name for item in getRepos($viewValue) | filter:$viewValue" 
class="form-control"
typeahead-editable="False"
typeahead-on-select='onSelect($item, $model, $label)'
typeahead-template-url="assets/partials/typeaheadTemplate.html"
>
<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

</form>