<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script src="@routes.Assets.at("javascripts/require.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")"></script>
<!-- Play Javascript Routes -->
<script type="text/javascript" src="@routes.MainController.javascriptRoutes"></script>
