<div ng-init="init()">
<h3>Details for checkstyle<button type="button" class="btn btn-default pull-right" ng-click="close()">Close</button></h3><br>
<accordion close-other=true>
	<accordion-group ng-if="hasElements(PullRequest.delta.removedCheckstyleViolations)" >
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(1)">
				 Removed Checkstyle Violations  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(1), 'glyphicon-chevron-right': !getToggleBoolean(1)}"></i>
			</div>
        </accordion-heading>
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'filename'"><b><i>File Name</i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'severity'"><b><i>Severity	 </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'message'"><b><i>Message </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Line</i></b></td>
			</tr>
			<tr ng-repeat="test in PullRequest.delta.removedCheckstyleViolations | orderBy:sort:false">
				<td>{{getClassName(test.filename)}}</td>
				<td>{{test.severity}}</td>
				<td>{{test.message}} </td>
				<td>{{test.line}}</td>
			</tr>			
		</table>
	</accordion-group>
	<accordion-group ng-if="hasElements(PullRequest.delta.addedCheckstyleViolations)" >
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(2)">
				 Added Checkstyle Violations  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(2), 'glyphicon-chevron-right': !getToggleBoolean(2)}"></i>
			</div>
        </accordion-heading>
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'filename'"><b><i>File Name</i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'severity'"><b><i>Severity	 </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'message'"><b><i>Message </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Line</i></b></td>
			</tr>
			<tr ng-repeat="test in PullRequest.delta.addedCheckstyleViolations | orderBy:sort:false">
				<td>{{getClassName(test.filename)}}</td>
				<td>{{test.severity}}</td>
				<td>{{test.message}} </td>
				<td>{{test.line}}</td>
			</tr>			
		</table>
	</accordion-group>
	<accordion-group ng-if="hasElements(Base.checkstyleViolations)" >
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(3)">
				 All Checkstyle Violations  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(3), 'glyphicon-chevron-right': !getToggleBoolean(3)}"></i>
			</div>
        </accordion-heading>
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'filename'"><b><i>File Name</i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'severity'"><b><i>Severity	 </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'message'"><b><i>Message </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Line</i></b></td>
			</tr>
			<tr ng-repeat="test in Base.checkstyleViolations | orderBy:sort:false">
				<td>{{getClassName(test.filename)}}</td>
				<td>{{test.severity}}</td>
				<td>{{test.message}} </td>
				<td>{{test.line}}</td>
			</tr>			
		</table>
	</accordion-group>
</accordion>
</div>