<div ng-init="init()">
<h3>Details for PMD<button type="button" class="btn btn-default pull-right" ng-click="close()">Close</button></h3><br>
<accordion close-other=true>
	<accordion-group ng-if="hasElements(PullRequest.delta.removedPmdViolations)" >
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(1)">
				 Removed Pmd Violations <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(1), 'glyphicon-chevron-right': !getToggleBoolean(1)}"></i>
			</div>
        </accordion-heading>
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'packageName'"><b><i>Package Name</i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'className'"><b><i>Class Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'Rule'"><b><i>Rule </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'priority'"><b><i>Priority </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Line</i></b></td>
			</tr>
			<tr ng-repeat="test in PullRequest.delta.removedPmdViolations | orderBy:sort:false">
				<td>{{test.packageName}}</td>
				<td>{{test.className}}</td>
				<td>{{test.rule}}</td>
				<td>{{test.priority}} </td>
				<td>{{test.beginLine}}</i></td>
			</tr>			
		</table>
	</accordion-group>
	<accordion-group ng-if="hasElements(PullRequest.delta.addedPmdViolations)" >
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(2)">
				 Added Pmd Violations <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(2), 'glyphicon-chevron-right': !getToggleBoolean(2)}"></i>
			</div>
        </accordion-heading>
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'packageName'"><b><i>Package Name</i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'className'"><b><i>Class Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'Rule'"><b><i>Rule </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'priority'"><b><i>Priority </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Line</i></b></td>
			</tr>
			<tr ng-repeat="test in PullRequest.delta.addedPmdViolations | orderBy:sort:false">
				<td>{{test.packageName}}</td>
				<td>{{test.className}}</td>
				<td>{{test.rule}}</td>
				<td>{{test.priority}} </td>
				<td>{{test.beginLine}}</i></td>
			</tr>			
		</table>
	</accordion-group>
	<accordion-group ng-if="hasElements(Base.pmdViolations)" >
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(3)">
				 All Pmd Violations  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(3), 'glyphicon-chevron-right': !getToggleBoolean(3)}"></i>
			</div>
        </accordion-heading>
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'packageName'"><b><i>Package Name</i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'className'"><b><i>Class Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'Rule'"><b><i>Rule </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'priority'"><b><i>Priority </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Line</i></b></td>
			</tr>
			<tr ng-repeat="test in Base.pmdViolations | orderBy:sort:false">
				<td>{{test.packageName}}</td>
				<td>{{test.className}}</td>
				<td>{{test.rule}}</td>
				<td>{{test.priority}} </td>
				<td>{{test.beginLine}}</i></td>
			</tr>			
		</table>
	</accordion-group>
</accordion>
</div>