<div ng-init="init()">
<h3>Details for test cases
<button type="button" class="btn btn-default pull-right" ng-click="close()">Close</button></h3><br>
<accordion close-other=true>
	<accordion-group ng-if="hasElements(PullRequest.delta.newSuccessfulTests)">
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(1)">
				 New Successful Tests <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(1), 'glyphicon-chevron-right': !getToggleBoolean(1)}"></i>
			</div>
        </accordion-heading>	
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'className'"><b><i>Class Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'methodName'"><b><i>Method Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'time'"><b><i>Time </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Success</i></b></td>
			</tr>
			<tr ng-repeat="test in PullRequest.delta.newSuccessfulTests  | orderBy:sort:false">
				<td>{{test.className}}</td>
				<td>{{test.methodName}}</td>
				<td>{{test.time}} s</td>
				<td><i ng-if="test.success" class="fa fa-check" style="color:green"></i></td>
			</tr>			
		</table>
	</accordion-group>
	<accordion-group ng-if="hasElements(PullRequest.delta.newFailedTests)">
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(2)">
				 New Failed Tests <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(2), 'glyphicon-chevron-right': !getToggleBoolean(2)}"></i>
			</div>
        </accordion-heading>	
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'className'"><b><i>Class Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'methodName'"><b><i>Method Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'time'"><b><i>Time </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Success</i></b></td>
			</tr>
			<tr ng-repeat="test in PullRequest.delta.newFailedTests  | orderBy:sort:false">
				<td>{{test.className}}</td>
				<td>{{test.methodName}}</td>
				<td>{{test.time}} s</td>
				<td><i ng-if="test.success" class="fa fa-check" style="color:green"></i></td>
			</tr>			
		</table>
	</accordion-group>
	<accordion-group ng-if="hasElements(PullRequest.delta.addedSuccessfulTests)">
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(3)">
				 Added Successful Tests <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(3), 'glyphicon-chevron-right': !getToggleBoolean(3)}"></i>
			</div>
        </accordion-heading>			
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'className'"><b><i>Class Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'methodName'"><b><i>Method Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'time'"><b><i>Time </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Success</i></b></td>
			</tr>
			<tr ng-repeat="test in PullRequest.delta.addedSuccessfulTests  | orderBy:sort:false">
				<td>{{test.className}}</td>
				<td>{{test.methodName}}</td>
				<td>{{test.time}} s</td>
				<td><i ng-if="test.success" class="fa fa-check" style="color:green"></i></td>
			</tr>			
		</table>
	</accordion-group>
	<accordion-group ng-if="hasElements(PullRequest.delta.addedFailedTests)">
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(4)">
				 Added Failed Tests <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(4), 'glyphicon-chevron-right': !getToggleBoolean(4)}"></i>
			</div>
        </accordion-heading>			
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'className'"><b><i>Class Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'methodName'"><b><i>Method Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'time'"><b><i>Time </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Success</i></b></td>
			</tr>
			<tr ng-repeat="test in PullRequest.delta.addedFailedTests  | orderBy:sort:false">
				<td>{{test.className}}</td>
				<td>{{test.methodName}}</td>
				<td>{{test.time}} s</td>
				<td><i ng-if="test.success" class="fa fa-check" style="color:green"></i></td>
			</tr>			
		</table>
	</accordion-group>
	<accordion-group ng-if="hasElements(PullRequest.delta.removedSuccessfulTests)">
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(5)">
				 Removed Successful Tests <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(5), 'glyphicon-chevron-right': !getToggleBoolean(5)}"></i>
			</div>
        </accordion-heading>			
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'className'"><b><i>Class Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'methodName'"><b><i>Method Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'time'"><b><i>Time </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Success</i></b></td>
			</tr>
			<tr ng-repeat="test in PullRequest.delta.removedSuccessfulTests  | orderBy:sort:false">
				<td>{{test.className}}</td>
				<td>{{test.methodName}}</td>
				<td>{{test.time}} s</td>
				<td><i ng-if="test.success" class="fa fa-check" style="color:green"></i></td>
			</tr>			
		</table>
	</accordion-group>
	<accordion-group ng-if="hasElements(PullRequest.delta.removedFailedTests)" >
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(6)">
				 Removed Failed Tests<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(7), 'glyphicon-chevron-right': !getToggleBoolean(7)}"></i>
			</div>
        </accordion-heading>				
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'className'"><b><i>Class Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'methodName'"><b><i>Method Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'time'"><b><i>Time </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Success</i></b></td>
			</tr>
			<tr ng-repeat="test in PullRequests.delta.removedFailedTests  | orderBy:sort:false">
				<td>{{test.className}}</td>
				<td>{{test.methodName}}</td>
				<td>{{test.time}} s</td>
				<td><i ng-if="test.success" class="fa fa-check" style="color:green"></i></td>
			</tr>			
		</table>
	</accordion-group>
	<accordion-group ng-if="hasElements(Base.testCases)" >
		<accordion-heading>
			<div class="makePointer" ng-click="changeAcc(7)">
				 All Tests <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': getToggleBoolean(7), 'glyphicon-chevron-right': !getToggleBoolean(7)}"></i>
			</div>
        </accordion-heading>
		<table class="table">
			<tr>
				<td class="makePointer" ng-click="sort = 'className'"><b><i>Class Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'methodName'"><b><i>Method Name </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td class="makePointer" ng-click="sort = 'time'"><b><i>Time </i><i class="fa fa-caret-square-o-down"></i></b></td>
				<td><b><i>Success</i></b></td>
			</tr>
			<tr ng-repeat="test in Base.testCases | orderBy:sort:false">
				<td>{{test.className}}</td>
				<td>{{test.methodName}}</td>
				<td>{{test.time}} s</td>
				<td><i ng-if="test.success" class="fa fa-check" style="color:green"></i></td>
			</tr>			
		</table>
	</accordion-group>
</accordion>
</div>