.diff-table{
	padding-left:10px;
	padding-right:10px;
	padding-top:0px;
	padding-bottom:0px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	color:#333;
	margin: 0 0 0 0;
	white-space:nowrap;
	border-style: none;
}
.diff-content{background-color:transparent; border-style:none; font-size:10px; border-spacing:0; line-height:1.1; padding-top:0px; padding-bottom:0px; margin: 0 0 0 0;}

.diff-bg-color-add{background-color:#99FF99; margin: 0 0 0 0;}
.diff-bg-color-remove{background-color:#FF5930; margin: 0 0 0 0;}
.diff-bg-color-neutral{background-color:#E0E0EB; margin: 0 0 0 0;}
.diff-bg-color-jumper{background-color:#BAFFFF; margin: 0 0 0 0;}
.diff-body tr td {height:10px; margin: 0 0 0 0 }

.diff-line{width:7%}

#wrapper {
	width:100%;
	clear:both;
}
#left{
	width:50%;
	float:left;
}
#right{
	width:50%;
	float:left;
	border-style:solid;
}
#left-in{
	padding-left:20px;
}
.merging-table{
	width:100%;
}

.app-modal-window .modal-dialog {
  width: 90%;
}

.hovering:hover {
	cursor: pointer;
	text-decoration:underline;
	
}

.line:hover {
	background: #91D4E8;
}

.testDetails-modal .modal-dialog {
	width: 80%;
}
	

	