<div ng-controller="MergingPlanCtrl" ">
<h1 class="page-header">Add new Merging Plan</h1>
	<div id="wrapper" ng-init="initialLoad()">

	  <div id="left">
	  	<div id="left-in">
	  		<input type="text" class="form-control" placeholder="Plan Name" ng-model="PlanName">
	  		<h3>Pull Requests</h3>
	  		<div ng-repeat="element in ChosenPullRequests">
	  			{{ element.number }} <span class="glyphicon glyphicon-remove-sign" ng-click="removePullRequest(element.id)"></span>
	  		</div>
	  		<h3>Options available:</h3>
	  		
	  		<table class="table">
	  			<tr>
	  				<td>Pmd</td>
	  				<td>
		  				<div class="btn-group btn-toggle"> 
	    					<button ng-class="isOnActive(1)" ng-click="setOptionActive(1)">ON</button>
	    					<button ng-class="isOffActive(1)" ng-click="setOptionActive(1)">OFF</button>
	  					</div>
	  				</td>
	  			</tr>
	  			<tr>
	  				<td>CheckStyle</td>
	  				<td>
		  				<div class="btn-group btn-toggle"> 
	    					<button ng-class="isOnActive(2)" ng-click="setOptionActive(2)">ON</button>
	    					<button ng-class="isOffActive(2)" ng-click="setOptionActive(2)">OFF</button>
	  					</div>
	  				</td>
	  			</tr>
	  		</table>
	  		<button type="button" class="btn btn-default" ng-click="savePlan()">Save Plan</button>
	  	</div>
	  </div>
	  <div id="right">
	  	<h3>Available Pull Requests</h3>
	  	<table class="table merging-table" >
		 	<tr>
		 		<td><h4>Number</h4></td>
		 		<td><h4>Name</h4></td>	
		 	</tr>
			<tr ng-repeat="element in PullRequests">
				<td>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      				{{ element.number}}
	      			<span class="caret"></span>
	    			</button>
	    			<ul class="dropdown-menu">
						<!-- <li><a href>Dropdown link</a></li> -->
	     				<li><a href ng-click="addPullRequestToPlan(element.id)">Add to Plan</a></li>
	    			</ul>
	    		</div>
				</td>
	
				<td>{{element.title}}</td>
			</tr>
		</table>
	  </div>
	</div>

	<!-- ng-init=loadMergingPlans()
	      				 -->
</div>