<div class="container" ng-controller="RepositoryCtrl" ng-init="getAllFavorites()">
	<h1>Repositories</h1>
	<table class="table">
		<tr>
			<td><h2>Name</h2></td>
			<td><h2>Owner</h2></td>
			<td></td>
		</tr>
		<tr ng-repeat="favorite in Favorites">
			<td><a ng-href="#/{{favorite.owner}}/{{favorite.name}}/Repository">{{ favorite.name }}</a></td>
			<td>{{ favorite.owner }} </td>
			<td><a class="btn btn-primary btn" role="button" ng-click="deleteFavoriteFromList(favorite)">Delete</a></td>
		</tr>
	</table>
</div>
