<div class="container" ng-controller="AnalysisCtrl" ng-init="init()">
<h1 class="page-header">Analyses</h1>
	<table class="table">
		<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td></td>
		</tr>
		</thead>
		<tr ng-repeat="analysis in analyses">
			<td>{{ analysis.id }}</td>
			<td>{{ analysis.name }} </td>
			<td><a class="btn btn-primary btn" role="button" ng-click="deleteAnalysis(analysis)">Delete</a></td>
		</tr>
	</table>
</div>
