<div ng-controller="FinalChoiceCtrl" ng-init="initializeFilter()">
	<div class="container">
		<progress class="progress-striped active" animate="false">
				<bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}">
					<span ng-hide="bar.value < 5">{{bar.name}}</span>
				</bar>
		</progress>
		<h1>Build
			<small>{{ $root.owner }} / {{ $root.repository }}</small>
			<a href ng-click="goBack()"><i popover-append-to-body="true" class="fa fa-arrow-circle-o-left pull-right" popover-trigger="mouseenter" popover-placement="bottom" popover="Go back"></i></a> 
		</h1>
	Sort by: 
	<select ng-model="sortBy" ng-options="f.text for f in PullRequestProperties" ng-change="UpdateList()"></select>		
	Filter by:
	<select ng-model="filterBy" ng-options="f.text for f in FilterOptions" ng-change="UpdateList()"></select>		

<table class="table merging-table" >
<thead>
<tr>
<td><a href ng-click="SortPullRequests(idProperty)">
<strong>Number</strong>
<i class="fa fa-caret-down"></i></a>
</td>

<td style="width: 15%"><a href ng-click="SortPullRequests(titleProperty)"><strong>Title</strong><i class="fa fa-caret-down"></i></a></td>	
<td><a href ng-click="SortPullRequests(branchProperty)"><strong>Branch</strong><i class="fa fa-caret-down"></i></a></td>
<td><a href ng-click="SortPullRequests(ownerProperty)"><strong>Owner</strong><i class="fa fa-caret-down"></i></a></td>
<td><a href ng-click="SortPullRequests(choiceProperty)"><strong>Choice</strong><i class="fa fa-caret-down"></i></a></td>	
</tr>
<thead>
<tr ng-repeat="pullRequest in PullRequests" ng-style="getStyle(pullRequest)">
<td> 
<a ng-href="{{ getpullRequestUrl(pullRequest) }}">{{ pullRequest.number }}</a>
<a popover="Link to GitHub" popover-placement="right" popover-trigger="mouseenter" ng-href="{{ pullRequest.url }}" ng-href="{{ pullRequest.url }}"><i class="fa fa-external-link"></i></a>
</td>
<td><span popover="{{ pullRequest.description }}" popover-placement="right" popover-trigger="mouseenter">{{ pullRequest.title }}</span>
</td>
<td> {{ pullRequest.base }} </td>
<td> {{ pullRequest.head.repositoryOwnerUsername }} </td>
<td> 
<div class="btn-group" ng-show="isEnabled(pullRequest)"> 
<button  ng-class="pullRequest.isChosen ? 'btn btn-success active': 'btn btn-default'" ng-click="activatePullRequest(pullRequest)">ON</button>
<button  ng-class="pullRequest.isChosen == false ? 'btn btn-danger danger' : 'btn btn-default'" ng-click="deactivatePullRequest(pullRequest)">OFF</button>
</div>
</td>
</tr>
</table>

	<div>
		Analysis Name: <input type="text" name="analysisName" ng-model="analysisName" required>
	</div>
	
	<button ng-if="PullRequests.length > 0" type="button" class="btn btn-default btn-lg pull-right" 
		ng-click="build()">
  		Build
  		<i class="fa fa-cogs"></i>
	</button>
	
	</div>
</div>
