<div class="container">
	<h1 class="page-header">Welcome</h1>
	<div ng-controller="HomeCtrl">
		
				<div ng-if="showTextTrackWarning" class="alert alert-warning">
    <h4>Browser not supporting Track Element</h4>
    <p>Your browser does not support the track element, subtitles are not shown in the video!</p>
  	</div>
		
		<div>Please take a minute to watch the introduction video on how to use the <i>GitMergeManager</i>.</div>
	
		<video width="640" height="480" controls>
  			<source src="assets/videos/GitMergeManager.mp4" type="video/mp4">
  			<track src="assets/videos/GitMergeManager.vtt" kind="captions" srclang="en" label="English" />
			Your browser does not support the video tag.
		</video> 		
	</div>
</div>
