	<select class="form-control"
			ng-model="ChosenProject" 
			ng-options="SearchResult.name for SearchResult in SearchResults.data" size="10" 
			ng-change="showProjectDetails()">
    <option value="">-- choose --</option>
    </select>
    <br>
    <button type="button" class="btn btn-default" ng-click="addFavorite(ChosenProject.owner, ChosenProject.name)"> Add Favorite</button>
   