<div ng-controller="PullRequestOverlappingCtrl" ng-init="init()">

<div class="container">

<progress class="progress-striped active" animate="false">
		<bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}">
			<span ng-hide="bar.value < 5">{{bar.name}}</span>
		</bar>
</progress>

	<h1>Conflicts 
	<small>{{ $root.owner }} / {{ $root.repository }}</small>
		<a href ng-click="goForward()"><i popover-append-to-body="true" class="fa fa-arrow-circle-o-right pull-right"  popover-trigger="mouseenter" popover-placement="bottom" popover="Go to next step"></i></a> 
		<a href ng-click="goBack()"><i popover-append-to-body="true" class="fa fa-arrow-circle-o-left pull-right"  popover-trigger="mouseenter" popover-placement="bottom" popover="Go back"></i></a>
	</h1>
	
	Show for:
	<select ng-model="filter" ng-options="f.name for f in filters"></select>
	
	Sort by: 
	<select ng-model="sortBy" ng-options="f.text for f in PullRequestProperties" ng-change="UpdateList()"></select>
	
	Filter by:
	<select ng-model="filterBy" ng-options="f.text for f in FilterOptions" ng-change="UpdateList()"></select>
	
	<div ng-show="!(diffConflictsHaveBeenCalculated && fileConflictsHaveBeenCalculated)"  
	class="info-icons text-center">
		<h1>
		<i class="fa fa-spinner fa-spin"></i>
		</h1>
	</div>	
	
	<d3-heatmap 
	ng-if="filter == filters[0] && (diffConflictsHaveBeenCalculated && fileConflictsHaveBeenCalculated)" 
	data="PullRequests" label="d3Label" 
	on-click="open(item)" 
	on-y-click="goToPullRequest(item)"
	filter="filter">
	</d3-heatmap>
	
	<d3-heatmap 
	ng-if="filter == filters[1] && (diffConflictsHaveBeenCalculated && fileConflictsHaveBeenCalculated)" 
	data="PullRequests" label="d3Label" 
	on-click="open(item)" 
	on-y-click="goToPullRequest(item)"
	filter="filter">
	</d3-heatmap>

			<h1><a href ng-click="goForward()"><i popover-append-to-body="true" class="fa fa-arrow-circle-o-right pull-right"  popover-trigger="mouseenter" popover-placement="bottom" popover="Go to next step"></i></a> 
		<a href ng-click="goBack()"><i popover-append-to-body="true" class="fa fa-arrow-circle-o-left pull-right"  popover-trigger="mouseenter" popover-placement="bottom" popover="Go back"></i></a></h1>
</div>

</div>
