<div ng-controller="FirstChoiceCtrl" ng-init="init()">
<div class="container">

<progress class="progress-striped active" animate="false">
		<bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}">
			<span ng-hide="bar.value < 5">{{ bar.name }}</span>
		</bar>
</progress>
<h1>Overview
<small>{{ $root.owner }} / {{ $root.repository }}</small>
<a href popover-append-to-body="true" popover="Go to next stage" popover-placement="bottom" popover-trigger="mouseenter" href class="pull-right" href ng-click="goForward()">	
		    <i class="fa fa-arrow-circle-o-right"></i>
		</a>
</h1>
	
	
	<p> <!--  if you want more space, use padding in css -->
	Choose between the Pull Requests your are interested in:	
	
    Sort by: 
	<select ng-model="sortBy" ng-options="f.text for f in PullRequestProperties" ng-change="UpdateList()"></select>
	
	Filter by:
	<select ng-model="filterBy" 
	ng-options="f.text for f in FilterOptions" 
	ng-change="UpdateList()"
	></select>

</p>
<table class="table merging-table" >
<thead>
<tr>
<td><a href ng-click="SortPullRequests(idProperty)">
<strong>Number</strong>
<i class="fa fa-caret-down"></i></a>
</td>

<td style="width: 15%"><a href ng-click="SortPullRequests(titleProperty)"><strong>Title</strong><i class="fa fa-caret-down"></i></a></td>	
<td><a href ng-click="SortPullRequests(branchProperty)"><strong>Branch</strong><i class="fa fa-caret-down"></i></a></td>
<td><a href ng-click="SortPullRequests(ownerProperty)"><strong>Owner</strong><i class="fa fa-caret-down"></i></a></td>
<td ng-click="SortPullRequests(labelProperty)"><div class="dropdown">
<!--  	<select ng-init="initLabels()"
		ng-model="labelOption"
		ng-options="label.name for label in Labels"
		ng-change="setLabel()"
	>
		
	</select> -->
<button class="btn dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" ng-click="initLabels()">
{{ currentLabel }}
<span class="caret"></span>
  </button>  
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" >
  	<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setLabel(0)">All Labels</a></li>
    <li ng-repeat="label in Labels" role="presentation"><a role="menuitem" tabindex="-1" ng-click="setLabel(label.name)"> {{ label.name }}</a></li>
  </ul>	
 </div>
</td>
<td><a href ng-click="SortPullRequests(choiceProperty)"><strong>Choice</strong><i class="fa fa-caret-down"></i></a></td>	
</tr>
<thead>
<tr ng-repeat="pullRequest in PullRequests" ng-if="isShown(pullRequest)" ng-style="getStyle(pullRequest)"> 
<td> 
<a ng-href="{{ getpullRequestUrl(pullRequest) }}">{{ pullRequest.number }}</a>
<a popover="Link to GitHub" popover-placement="right" popover-trigger="mouseenter" ng-href="{{ pullRequest.url }}"><i class="fa fa-external-link"></i></a>
</td>
<td><span popover="{{ pullRequest.description }}" popover-placement="right" popover-trigger="mouseenter">{{ pullRequest.title }}</span></td>
<td> {{ pullRequest.base }} </td>
<td> {{ pullRequest.head.repositoryOwnerUsername }} </td>
<td> <div ng-repeat="label in pullRequest.labels"> <label class="label label-default" ng-style="labelBackgroundColor(label)">{{ label.name }}</label>  </div>  </td>
<td> 
<div class="btn-group" ng-show="isEnabled(pullRequest)"> 
<button  ng-class="pullRequest.isChosen ? 'btn btn-success active': 'btn btn-default'" ng-click="activatePullRequest(pullRequest)">ON</button>
<button  ng-class="pullRequest.isChosen == false ? 'btn btn-danger danger' : 'btn btn-default'" ng-click="deactivatePullRequest(pullRequest)">OFF</button>
</div>
</td>
</tr>
</table>

<a popover="Go to next stage" popover-placement="bottom" popover-trigger="mouseenter" href class="pull-right" ng-click="goForward()">
<h1><i class="fa fa-arrow-circle-o-right"></i></h1>
</a>

</div>
</div>
