<div class="container" ng-controller="PullRequestCtrl" ng-init="initializeCtrl()">
    
    <h1>Pull Request {{ PullRequestNumber }} 
        	<a href ng-click="goToFilteringList()"><i class="fa fa-arrow-circle-o-left pull-right"></i></a>
    </h1>
    <tabset>
    <tab select="switchTab('Information')" active="Information">
	<tab-heading>
	<span style="cursor:pointer">Information</span>
	<i ng-if="Information && IsLoading" class="fa fa-spinner fa-spin"></i>
	</tab-heading>
    	<h4>Title<br></h4>
    	{{ currentPullRequest.title }}
    	<h4>Description <br></h4>
    	{{ currentPullRequest.description }}
    	<h4>Repository Owner Name <br></h4>
    	<a ng-href="https://github.com/{{currentPullRequest.head.repositoryOwnerUsername}}">{{ currentPullRequest.head.repositoryOwnerUsername }} <i class="fa fa-external-link"></i></a>
    	<h4>Repository Name <br></h4>
    	{{ currentPullRequest.head.repositoryName }}
	<h4>Pull Request Url <br></h4>
    	<a ng-href="{{currentPullRequest.url}}">{{ currentPullRequest.url }} <i class="fa fa-external-link"></i>
</a>
    	<h4>Repository Clone Url <br></h4>
    	<a ng-href="{{currentPullRequest.head.cloneUrl}}">{{ currentPullRequest.head.cloneUrl }} <i class="fa fa-external-link"></i>

</a>
    </tab>
    
    <tab select="switchTab('Code')" active="CodeTab">
	<tab-heading>
	<span style="cursor:pointer">Code</span>
	<i ng-if="Code && IsLoading" class="fa fa-spinner fa-spin"></i>
	</tab-heading>
      <table class="table">
			<tr>
								<br>
				<h4>Files <br></h4>
			<tr ng-repeat="file in ChangedFiles">
				<td ng-click="openCode(file.raw_url)"><a href>{{ file.filename }}</a></td>
			</tr>
			<tr><td></td></tr>
		</table>
    </tab>
    <tab select="switchTab('Diffs')" active="DiffsTab">
	<tab-heading>
	<span style="cursor:pointer">Diffs</span>
	<i ng-if="Diffs && IsLoading" class="fa fa-spinner fa-spin"></i>
	</tab-heading>
    	<table class="table">
			<tr class="index">
				<br>
				<h4>Diffs <br></h4>
			</tr>
			<tr ng-repeat="file in ChangedFiles">
				<td ng-click="anchorScroll(file.filename)"><a href>{{ file.filename }}</a></td>
			</tr>
			<tr><td></td></tr>
		</table>
	    <div ng-repeat="file in ChangedFiles">
	    	<h4 id="{{file.filename}}">{{file.filename}}</h4> 
	    	<div class="container"ng-init="getDiff(file.filename)">
				<table class="table" style="margin: 0 0 0 0;">
					<tbody class="diff-body">
						<tr ng-repeat=" diff in Diffs[file.filename] | orderBy: 'id'" ng-class="diff.color">
							<td class="diff-line"><pre class="diff-content">{{ diff.originalLineNumber }}</pre></td>
							<td class="diff-line"><pre class="diff-content">{{ diff.changedLineNumber }}</pre></td>
							<td><pre class="diff-content">{{ diff.content }}</pre></td> 
						</tr>
					</tbody>
					
				</table>
			</div>
			<br>
		</div>
	</tab>
	
  </tabset>
<h1><a href ng-click="goToFilteringList()"><i class="fa fa-arrow-circle-o-left pull-right"></i></a></h1>
	</div>
<!-- ng-class="file.color style="font-size: 10px;height:13px"" -->
</div>
