<div ng-controller="PullRequestSizeFileCtrl" ng-init="changeFilter()">

<div class="container">

<progress class="progress-striped active" animate="false">
		<bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}">
			<span ng-hide="bar.value < 5">{{bar.name}}</span>
		</bar>
</progress>

<h1>Size 
<small><i>{{ $root.owner }} / {{ $root.repository }}</i></small>

<a href ng-click="goForward()"><i popover-trigger="mouseenter" popover-append-to-body="true" popover-placement="bottom" popover="Go to next step" class="fa fa-arrow-circle-o-right pull-right"></i></a>

<a href ng-click="goBack()"><i popover-trigger="mouseenter" popover-append-to-body="true" data-popover-placement="bottom" popover="Go back" class="fa fa-arrow-circle-o-left pull-right"></i></a>
</h1>
	Show for:
	<select ng-model="filter" ng-options="f.name for f in filters" ng-change="changeFilter()"></select>
	
    Sort by: 
	<select ng-model="sortBy" ng-options="f.text for f in PullRequestProperties" ng-change="UpdateList()"></select>
	
	Filter by:
	<select ng-model="filterBy" ng-options="f.text for f in FilterOptions" ng-change="UpdateList()"></select>
	
	<div ng-show="!(fileSizeHasBeenCalculated && diffSizeHasBeenCalculated)"  class="info-icons text-center">
		<h1>
		<i class="fa fa-spinner fa-6 fa-spin"></i>
		</h1>
	</div>
		<d3-bars
		ng-if="filter == filters[0] && fileSizeHasBeenCalculated && diffSizeHasBeenCalculated == true" 
		data="PullRequests" label="d3Label" get-size="getSize(item)" on-click="d3OnClick(item)" filter="filters[0]", open="open(item)">
		</d3-bars>
		
		<d3-bars
		ng-if="filter == filters[1] && diffSizeHasBeenCalculated && fileSizeHasBeenCalculated == true" 
		data="PullRequests" label="d3Label" get-size="getSize(item)" on-click="d3OnClick(item)" filter="filters[1]" open="open(item)">
		</d3-bars>


<a href ng-click="goForward()" class="pull-right">
<h1><i popover-trigger="mouseenter" popover-append-to-body="true" data-placement="bottom" popover="Go to next step" class="fa fa-arrow-circle-o-right pull-right"></i>
</a></h1>

<a href ng-click="goBack()" class="pull-right">
<h1><i popover-trigger="mouseenter" popover-append-to-body="true" data-placement="bottom" popover="Go back" class="fa fa-arrow-circle-o-left pull-right"></i>
</a></h1>


</div>
