<div class="container" ng-controller="RepositoryCtrl" ng-init="initRepository()">

<h1 class="page-header">
{{ $root.repository }} <small>{{ $root.owner }}</small>
<a ng-click="pushStar()"><i popover-append-to-body="true" class="fa fa-star" ng-style="Style" popover="{{Info}}" popover-placement="right" popover-trigger="mouseenter"></i></a>
	
	<i class="fa fa-spinner fa-spin" ng-if="!loaded"></i>
	
	<div class="pull-right">
		<button type="button" class="btn btn-default btn-lg" ng-click="syncRepository()" popover-append-to-body="true" popover="Sync Pull Requests from GitHub. In case that not all pull requests are shown, this will sync the pull requests again. This will take some time depending on how many pull requests have to be synced" popover-placement="bottom" popover-trigger="mouseenter">
	  		Sync Repository
	  		<i class="fa fa-refresh"></i>
		</button>
			
		<button ng-if="mavenProject" type="button" class="btn btn-default btn-lg" ng-click="startAnalysis()">
	  		Start Analysis
	  		<i class="fa fa-eye"></i>
		</button>
			
		<button ng-if="mavenProject == null || !mavenProject" style="opacity : 0.5" type="button" class="btn btn-default btn-lg">
	  		Start Analysis
	  		<i class="fa fa-eye"></i>
		</button>
	</div>
</h1>

<h2><p ng-if="loaded && !mavenProject" class="text-danger">This project is not a Maven Project and can therefore not be executed.</p></h2>

<li><span>Project Owner: <i>{{ $root.owner }} </i></span></li>
<li><span>GitHub Url: <a ng-href="https://github.com/{{ $root.owner }}/{{ $root.repository }}">https://github.com/{{ $root.owner }}/{{ $root.repository }}</a><span></li>
<li><span>Description:</span></li>
<div><pre>{{content}}</pre></div>

</div>
