<div class="container" ng-controller="ResultCtrl">
	<table class="table">
		<tr>
			<td>Class Name</td>
			<td>Method Name </td>
			<td>Success </td>
			<td>Error Message </td>
		</tr>
		<tr ng-repeat="test in Details">
			<td>{{ test.className }}</td>
			<td>{{ test.methodName }} </td>
			<td>{{ test.isSuccessful }} </td>
			<td>{{ test.failure.message }} </td>
		</tr>
	</table>
	<br>
</div>