<div class="container" ng-controller="ResultCtrl" ng-init="init()">
<h1 class="page-header">Results
<small>{{ $root.owner }} / {{ $root.repository }}</small>
<i class="fa fa-spinner fa-spin" ng-if="!loaded"></i>
</h1>
	Execution #: <select ng-model="exec" ng-options="f.number for f in Executions" ng-change="changeExecution()"></select><br><br>
	<table class="table">
		<tr>
			  	<td><h4>Pull Request</h4>		</td>
   				<td><h4>Mergeable</h4>			</td>
   				<td><h4>Compilable</h4>			</td>
   				<td><h4>Tests</h4>				</td>
   				<td><h4>Pmd</h4>				</td>
   				<td><h4>CheckStyle</h4>			</td>
   				<td><h4>Conflicting <br> pull requests </h4>	</td>
   				<td>
   					<h4>Merge</h4>
   					<input ng-if="noConflicts" type="checkbox" id="activateAll" ng-click="activateAll()">
   				</td>
		</tr>
		<tr ng-repeat="result in AnalyzedPullRequests" class="line">
			<td>
				<a ng-href="#/{{ $root.owner}}/{{ $root.repository}}/PullRequests/{{ result.pullRequest.number }}" popover="{{ result.pullRequest.title }}" popover-placement="right" popover-trigger="mouseenter"> {{ result.pullRequest.number }}</span>
				<a ng-href="{{ result.pullRequest.url }}"><i class="fa fa-external-link"></i></a>
			</td>
			<td>	
					<i ng-if="result.mergeable" class="fa fa-check" style="color:green"></i> 
					<i ng-if="!result.mergeable" class="fa fa-minus-circle" style="color:red"></i> 
			</td>
			<td>	
					<i ng-if="result.compileable" class="fa fa-check" style="color:green"></i> 
					<i ng-if="!result.compileable" class="fa fa-minus-circle" style="color:red"></i> 
			</td>
			<td class="hovering" ng-click="openTestDetails(result.pullRequest.number)">
   				<div ng-if="show(result.delta.numbers.newSuccessfulTests)"><font color="green">{{result.delta.numbers.newSuccessfulTests}} new successful tests</font><br></div>
   				<div ng-if="show(result.delta.numbers.newFailingTests)"> <font color="red">{{result.delta.numbers.newFailingTests}} new failing tests</font><br></div>
   				<div ng-if="show(result.delta.numbers.addedSuccessfulTests)"><font color="green">{{result.delta.numbers.addedSuccessfulTests}} succesful tests added</font><br></div>
   				<div ng-if="show(result.delta.numbers.addedFailingTests)"> <font color="red">{{result.delta.numbers.addedFailingTests}} failing tests added </font><br></div>
   				<div ng-if="show(result.delta.numbers.removedSuccessfulTests)"><font color="orange">{{result.delta.numbers.removedSuccessfulTests}} successful tests removed</font><br></div>
   				<div ng-if="show(result.delta.numbers.removedFailingTests)"> <font color="orange">{{result.delta.numbers.FailedTests}} failed tests removed</font><br></div>
   				<div ng-if="anyChanges(result,1)"> <font color="#CCCCD6">no changes</font></div>
   			</td>
   			<td class="hovering" ng-click="openPmdDetails(result.pullRequest.number)">
   				<div ng-if="show(result.delta.numbers.removedPmdViolations)"><font color="green">{{result.delta.numbers.removedPmdViolations}} resolved</font><br></div>
   				<div ng-if="show(result.delta.numbers.addedPmdViolations)"> <font color="red">{{result.delta.numbers.addedPmdViolations}} added</font><br></div>
   				<div ng-if="anyChanges(result,2)"> <font color="#CCCCD6">no changes</font></div>
   			</td>
   			<td class="hovering" ng-click="openCheckstyleDetails(result.pullRequest.number)">
   				<div ng-if="show(result.delta.numbers.removedCheckstyleViolations)"><font color="green">{{result.delta.numbers.removedCheckstyleViolations}} resolved</font><br></div>
   				<div ng-if="show(result.delta.numbers.addedCheckstyleViolations)"> <font color="red">{{result.delta.numbers.addedCheckstyleViolations}} added</font><br></div>
   				<div ng-if="anyChanges(result,3)"> <font color="#CCCCD6">no changes</font></div>
   			</td>
   			<td>
   				<div ng-if="existConflictingPairs(result.pullRequest.number)">{{giveConflicts(result.pullRequest.number)}}</div>
   				<div ng-if="!existConflictingPairs(result.pullRequest.number)"><font color="#CCCCD6">no conflicts</font></div></td>
   			<td> 
   					<input ng-if="isMergeable(result)" type="checkbox" id="{{result.pullRequest.number}}" ng-click="checkPullRequest(result.pullRequest.number)">
   			</td>
		</tr>
	</table>
	<br><br>
	
	<button type="button" class="btn btn-default pull-right" ng-click="executeMerging()">Merge chosen pull requests</button>
	<button type="button" class="btn btn-default pull-left"	ng-click="buildAgain()">	Test again<i class="fa fa-cogs"></i></button>
</div>