<div class="container">

<h1 class="page-header">Status
<small>{{ $root.owner }} / {{ $root.repository }}</small>
</h1>

<div ng-controller="StatusCtrl" ng-init="init()">

<div ng-if="tasks.length == 0">No running tasks at the moment!</div>

<div ng-if="tasks.length > 0"class="col-md-9">	
	<accordion close-others="false">
	    <!-- Project View -->
	    <accordion-group ng-repeat="task in tasks" is-open="!task.isFinished">	  
	    
		    <accordion-heading> 
		    
		        {{ task.name }}
		    
		    	<i ng-if="task.isFinished" class="fa fa-check-circle pull-right"></i>
		    	<i ng-if="!task.hasRunningSubtasks && !task.isFinished" class="fa fa-refresh fa-spin pull-right"></i>	
		    	<i ng-if="task.hasRunningSubtasks" class="fa fa-refresh pull-right"></i>
		    	
		    </accordion-heading>
	    	
	    	<div class="row" ng-repeat="subTask in task.subTasks">
		    	<div class="col-sm-4">{{ subTask.name }}</div>
	        	<div class="col-sm-4">
		        	
		        	<progressbar ng-if="subTask.totalItems != 0" value="subTask.progress" animate="false">
		        		<span style=''color:black; white-space:nowrap;'>{{ subTask.progress }}%</span>
		        	</progressbar>
		        	
		        	<i ng-if="subTask.totalItems == 0" class="fa fa-check-circle"></i>
	        	</div>
	    	</div>
	     
	    </accordion-group>
	    
	    <!-- Pull Request items -->
	    <accordion-group heading="" ng-repeat="pullRequest in pullRequests">
	    
		   <accordion-heading>
		    	Pull Request: {{ pullRequest.number }}
		    	<i class="fa fa-refresh fa-spin pull-right"></i>	
		    	<i class="fa fa-refresh pull-right"></i>
		    </accordion-heading>
		    
		    <div class="row">
		    	<div class="col-sm-4">Clone</div>
	        	<div class="col-sm-4">
					<progressbar value="0" value="dynamic">
						<span style=''color:black; white-space:nowrap;'>0%</span>
					</progressbar>
				</div>
	    	</div>
	    	
	    	<div class="row">
		    	<div class="col-sm-4">Compile</div>
	        	<div class="col-sm-4"><progressbar value="0"></progressbar></div>
	    	</div>
	    	
	 		<div class="row">
		    	<div class="col-sm-4">Test</div>
	        	<div class="col-sm-4"><progressbar value="0"></progressbar></div>
	    	</div>
	    	
	 		<div class="row">
		    	<div class="col-sm-4">Verify</div>
	        	<div class="col-sm-4"><progressbar value="0"></progressbar></div>
	    	</div>
	    
	    </accordion-group>    
  </accordion>
</div>
</div>
</div>