<div class="modal-header">
            <h3 class="modal-title">Pull Request
            <a href="#/{{owner}}/{{repository}}/PullRequests/{{item.number}}" > {{ item.number }}</a>
            <i ng-if="conflict && conflict.conflict && conflict.x != conflict.y">(Conflicts with {{ conflict.x }})</i>
            <div class="btn-group" ng-show="isEnabled(item)"> 
			<button  ng-class="item.isChosen ? 'btn btn-success active': 'btn btn-default'" ng-click="activatePullRequest(item)">ON</button>
			<button  ng-class="item.isChosen == false ? 'btn btn-danger danger' : 'btn btn-default'" ng-click="deactivatePullRequest(item)">OFF</button>
			</div>
            <a href ng-click="cancel()"><span class="glyphicon glyphicon-remove pull-right"></span></a>
            </h3>
</div>

<div class="modal-body">
    <li>
    	<strong>Title</strong>
    	<span>{{item.title}}</span>
    </li>
    <li>
    	<strong>Url</strong>
    	<a ng-href="{{item.url}}">{{item.url}}</a>
    </li>
    <br>
    <div ng-if="conflict.files.length > 0" class="panel panel-default">
	  <div class="panel-heading">Conflicting Files</div>
	  <div class="panel-body">
	    <li ng-repeat="file in conflict.files">
	<a href="#/{{owner}}/{{repository}}/PullRequests/{{item.number}}?tab=Diffs#{{ file.split('(')[0] }}" > {{ file }}</a>
	    </li>
	  </div>
	</div>
    
</div>
